@use 'variables';
@use 'header/header';
@use 'content/content';
@use 'content/dialog';
@use 'content/options';

body {
    height: 100vh;
    font-family: Mukta, sans-serif;
    background-color: variables.$body-color;
    font-size: 1rem;
}